/* 
versiont: 1.0.0
author: Mehedi Hassan Satu
copyright and create by Mehedi Hassan Satu , javascripts full stack developer.
portfolio website: https://mehedi23.github.io/portfolio/
github profile: https://github.com/mehedi23
*/


/* 
## section name
1. container
2. padding
3. margin
4. grid
5. flex
6. display, justify, align
7. position
8. button design
*/





/* deafult */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* container */
.container {
    width: 1400px;
    margin: auto;
}





/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* padding */





/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* margin */




/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* grid */

.d-g {
    display: grid;
}




/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* flex */

.d-f {
    display: flex;
}




/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* display, justify, align */
.d-b {
    display: block;
}

.d-i {
    display: inline-block;
}

.d-i-b {
    display: inline-block;
}

.d-n {
    display: none;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-s-a {
    justify-content: space-around;
}

.a-i-c {
    align-items: center;
}

.a-i-f-s {
    align-items: flex-start;
}

.a-i-f-s {
    align-items: flex-end;
}


/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* position */
.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.p-f {
    position: fixed;
}

.p-sk {
    position: sticky;
}

.p-st {
    position: static;
}




/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* =============== */
/* button design */